.itemCount{
    padding: 4px;
    border: solid 1px $colorPrimary;
    color: white;
    background-color: $colorPrimary;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
}