#header{
    background-color: $colorPrimary;
    nav{
        .navbar-brand{
            font-size: 34px;
        }
        #navbarSupportedContent{
            justify-content: flex-end;
        }
        .nav-link {
            color:white;
            &:hover{
                color: rgb(221, 221, 221);
            }
        }
    }
}